<div class="container">
   <a ui-sref="public.signUp" ng-if="!info.completed">Not Signed Up Yet</a>
</div>

<div class="container" ng-if="info.completed">
    first name: {{info.userInfo.firstName}}<br>
    last name: {{info.userInfo.lastName}}<br>
    email: {{info.userInfo.email}}<br>
    phone: {{info.userInfo.phone}}<br>


    <div class="menu-item-tile col-md-6">
        <h2>Favorite Menu item</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="menu-item-photo">
                    <div>{{$ctrl.menuItem.short_name}}</div>
                    <img class="img-responsive" width="250" height="150" ng-src="/module5-solution/images/menu/{{info.menuItem.category_short_name}}/{{info.menuItem.category_short_name}}.jpg"
                         alt="{{info.menuItem.name}}">
                </div>
            </div>
            <div class="menu-item-description col-sm-7">
                <h3 class="menu-item-title">{{info.menuItem.name}}</h3>
                <p class="menu-item-details">{{info.menuItem.description}}</p>
            </div>
        </div>
        <hr class="visible-xs">
    </div>

</div>
